body {
    background-color: white;
    background-image: url("img/correct-night-sky.jpg");
}


form {
    background-color: antiquewhite;
    text-align: center;
    width: 25%;
    padding: 25px 100px 25px 100px;
    margin: 8% auto;
    font-size: 20px;
    border-radius: 15px;

}

#userForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 20px;
}