body {
    background-color: white;
    background-image: url("img/correct-night-sky.jpg");
    font-family: fantasy;
}

/*h2 {*/
/*    background-color: gray;*/
/*    border-radius: 15px;*/
/*}*/

form {
    background-color: #BEBEBE;
    text-align: center;
    width: 25%;
    padding: 25px 100px 25px 100px;
    margin: 8% auto;
    font-size: 20px;
    border-radius: 15px;
    font-family: fantasy;

}

#userForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 20px;
}

#button {
    font-family: fantasy;
    padding: 5px 20px;
    background-color: dimgray;
    border-radius: 10px;
}

#button:hover {
    cursor: pointer;
}